<div class="container dashboard" ng-controller="DashboardController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Your Pins</h3>
        </div>
        <div class="panel-body">
            <div class="row show-grid">
                <div class="col-md-3">
                    <label for="filter">Choose category:</label>
                    <select ng-model="category" id="filter" class="form-control">
                        <option value="">All</option>
                        <option value="Animals">Animals</option>
                        <option value="Nature">Nature</option>
                        <option value="Urban">Urban</option>
                    </select>
                </div>
                <div class="col-md-3 col-md-offset-6">
                    <a href="#/addpin" class="btn btn-primary btn-lg pull-right">Add new Pin</a>
                </div>
            </div>
            <br/>

            <div class="row">
                <figure class="col-sm-6 col-md-3" ng-repeat="pin in pins | filter:category">
                    <div class="thumbnail">
                        <a ng-href="{{pin.URL}}" class="thumbnail" data-lightbox="{{pin.URL}}"
                           data-title="{{pin.Name}}">
                            <img ng-src="{{pin.URL}}" alt="{{pin.Name}}">
                        </a>

                        <div class="caption">
                            <h3>{{pin.Name}}</h3>

                            <p><a href="#/editpin/{{pin.Id}}" class="btn btn-primary" role="button">Edit</a></p>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>