<div class="container home" ng-controller="HomeController">
    <div class="row show-grid">
        <div class="col-md-3">
            <label for="filter">Choose category:</label>
            <select ng-model="category" id="filter" class="form-control">
                <option value="">All</option>
                <option value="Animals">Animals</option>
                <option value="Nature">Nature</option>
                <option value="Urban">Urban</option>
            </select>
        </div>
    </div>
    <br/>

    <div class="row">
        <figure class="col-xs-6 col-md-3" ng-repeat="pin in pins | filter:category">
            <div class="thumbnail">
                <a ng-href="{{pin.URL}}" class="thumbnail" data-lightbox="{{pin.URL}}" data-title="{{pin.Name}}">
                    <img ng-src="{{pin.URL}}" alt="{{pin.Name}}">
                </a>

                <div class="caption">
                    <h3>{{pin.Name}}</h3>

                    <P><strong>Votes: {{pin.Vote.Value}}</strong></P>

                    <p><a href="" class="btn btn-success" ng-click="vote(pin)" role="button">Vote</a></p>
                </div>
            </div>
        </figure>
    </div>
</div>